{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
      }
    ],
    "react-hot-loader/babel", [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true,
      }
    ],
    "transform-react-inline-elements",
    "idx",
  ],
  "presets": [
    "env",
    "react",
    "stage-0",
  ],
}