{
  "env": {
    "browser": true,
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "eol-last": 1,
    'react/no-array-index-key': 0,
    import/no-unresolved: [2, { caseSensitive: false }],
    "jsx-a11y/anchor-is-valid": 0,
    "max-len": [2, { code: 120, ignoreUrls: true, ignoreStrings: true, ignoreTemplateLiterals: true }],
    "no-unused-vars": [1, { "vars": "all" }],
    "react/prop-types": [2, { skipUndeclared: true, ignore: ["match"] }],
    "function-paren-newline": [2, "multiline"],
    "import/prefer-default-export": 1,
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
    },
  },
}
